<div class="login-card">
  <h1>
    New Post
  </h1>
  <input
    class="form-input"
    type="userPost"
    id="titleInput"
    placeholder="Title"
  />
  <input
    class="form-input"
    type="userPost"
    id="textBody"
    placeholder="body"
  />
  <button class="btn btn-primary" type="submit">
    Post
  </button>
</div>
<div class="login-card">
  <div>
    <header>
      <h1>
        Other Posts
      </h1>
    </header>
  </div>
  <div>
  {{item.0.title}}
  </div>
</div>